NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
NEXT_PUBLIC_MANAGEMENT_APP_URL=http://localhost:3000
NEXT_PUBLIC_STOREFRONT_DOMAIN=salon.com
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3001
PORT=3004
APP_FORWARD_PORT=3004
NEXT_PUBLIC_APP_NAME=Veloura
